:root {
  --system-primary-color: rgb(50, 195, 150);
  --system-primary-color-dark: rgb(15, 140, 95);
  --system-secondary-color: rgb(240, 255, 255);
  --system-secondary-color-dark: rgb(220, 240, 240);
  --system-third-color: rgb(5, 85, 50);
  --color-primary: rgba(50, 140, 200, 0.92);
  --color-success: rgba(30, 140, 55, 0.92);
  --color-warning: rgba(190, 160, 15, 0.92);
  --color-danger: rgba(195, 50, 35, 0.92);
  --color-light: rgba(255, 255, 255, 0.92);
  --color-dark: rgba(40, 50, 70, 0.92);
  --color-soft-text: #555555;
  --soft-border-color: rgba(0, 0, 0, 0.2);
  --soft-background-color: rgba(0, 0, 0, 0.05);
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(~assets/webfonts/Montserrat-Regular.ttf) format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*
GLOBAL TAGS STYLES
*/
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

a:hover {
  color: var(--system-primary-color) !important;
  cursor: pointer;
}

/*
PAGES STRUCTURE STYLES
*/
.page-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper .page-content {
  position: absolute;
  top: 45px;
  left: 0;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100vh - 135px);
  padding: 2px 4px;
}

.page-wrapper.no-footer .page-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  min-height: calc(100vh - 45px);
}

.page-content-image {
  margin: 12px auto;
  width: 100%;
  max-width: 180px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-title {
  font-size: 24px;
  color: var(--system-primary-color);
  width: 100%;
  text-align: center;
  margin: 8px 0;
}

.page-description {
  font-size: 18px;
  color: var(--color-soft-text);
  width: 100%;
  text-align: center;
}

/*
GLOBAL REUSEABLE STYLES
*/
.banner-box {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
  padding: 0 2%;
}

.banner-box img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padded-content {
  padding: 5px;
}

.disabled {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  pointer-events: none;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  cursor: not-allowed;
}

.block-button {
  padding: 6px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid var(--system-primary-color-dark);
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-header {
  margin: 5px auto;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding: 10px 20%;
  background-color: rgba(0, 0, 0, 0.03);
}

.page-header .header-top-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .page-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 12px auto;
  font-size: 36px;
}

.page-header .page-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 128px;
  height: auto;
  opacity: 0.85;
}

.page-subtitle {
  text-align: center;
}

.pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  width: 100%;
  margin: 2px auto;
}

@media (max-width: 767px) {
  .banner-box img {
    width: 100%;
    max-width: 150px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@-webkit-keyframes show-item {
  from {
  }
  to {
  }
}

@keyframes show-item {
  from {
  }
  to {
  }
}
/*# sourceMappingURL=core.css.map */